{% if user %}
<button
	id="optionsMenuLink"
	data-dropdown-toggle="optionsMenu"
	data-dropdown-placement="bottom-end"
	data-dropdown-offset-distance="24"
	data-dropdown-delay="300"
	data-dropdown-trigger="hover"
	class=""
>
	<img
		class="mx-2 h-10 w-10 rounded-md transition duration-200 hover:brightness-125 active:scale-95"
		src="/images/placeholder_profile.webp"
		alt="Profile"
	/>
</button>
<div
	id="optionsMenu"
	class="peer z-10 hidden divide-y divide-zinc-500 rounded-md bg-zinc-800 shadow-lg"
	tabindex="-1"
>
	{% block account %}{% endblock %}
	<ul class="py-2">
		{% if acl === 'admin' %}
		<li>
			<div
				id="admin-accordion"
				data-accordion="collapse"
				class="justify-left flex w-full flex-col bg-transparent text-lg font-light"
				data-active-classes="bg-warden-700"
			>
				{% block adminHeader %}{% endblock %}
				<div
					id="admin-accordion-body"
					class="hidden border-t border-warden-900"
					aria-labelledby="admin-accordion"
				>
					<div class="flex flex-col">
						{% block dashboard %}{% endblock %}
					</div>
				</div>
			</div>
		</li>
		{% endif %} {% if acl === 'admin' or acl === 'moderator' %}
		<li>
			<div
				id="mod-accordion"
				data-accordion="collapse"
				class="justify-left flex w-full flex-col bg-transparent text-lg font-light"
				data-active-classes="bg-warden-700"
			>
				{% block moderationHeader %}{% endblock %}
				<div
					id="mod-accordion-body"
					class="hidden border-t border-warden-900"
					aria-labelledby="mod-accordion"
				>
					<div class="flex flex-col">
						{% block flagged %}{% endblock %}
						{% block eventLog %}{% endblock %}
					</div>
				</div>
			</div>
		</li>
		{% endif %}
		{% block help %}{% endblock %}
		{% block language %}{% endblock %}
	</ul>
	<ul class="py-2">
		{% block logout %}{% endblock %}
	</ul>
</div>
{% else %}
	{% block loggedOutUser %}{% endblock %}
{% endif %}
