<div class="mt-1 flex flex-row items-center pb-1">
	<a
		href="{% if path === '/' %}#{% else %}/{% endif %}"
		class="group mx-1 flex appearance-none flex-row items-center justify-center rounded-lg px-2 transition duration-300 hover:bg-warden-600 active:scale-95"
		x-popover="The current shard and war"
	>
		<img
			src="{{ config.images.logo }}"
			class="h-10 w-10 flex-none transition duration-300 group-hover:scale-125"
			alt="Logo"
		/>
		<div class="ml-2 flex-none text-xl font-medium" title="{{ title }}">{{ title }}</div>
	</a>
	<div class="hidden select-none flex-row justify-self-end px-4 text-xl font-normal sm:flex">
		<span title="Shard and war number">{{ shard }}#{{ war }}</span>
	</div>
</div>
