<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foxhole {{ config.shard }} {{ config.basic.title }}">
    <meta name="author" content="attrib, Bazlow">
    <!-- Facebook/Discord Meta Tags -->
    <meta property="og:url" content="{{ config.basic.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.basic.title }}">
    <meta property="og:description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta property="og:image" content="{{ config.basic.url }}{{ config.images.opengraph }}">
    <meta property="og:image:alt" content="{{ config.basic.title }} Logo">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ config.basic.url }}">
    <meta name="twitter:title" content="{{ config.basic.title }}">
    <meta name="twitter:description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta name="twitter:image" content="{{ config.basic.url }}{{ config.images.opengraph }}">
    <meta name="twitter:image:alt" content="{{ config.basic.title }} Logo">
    <meta name="theme-color" content="{{ config.basic.color }}">

    {% if config.images.favicon %}
    <link rel="icon" type="image/svg+xml" href="{{ config.images.favicon }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{config.images.faviconPng }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/dist/main.css?{{ cacheBuster }}">
    {% block css %}{% endblock %}
    <!-- TODO: Replace with variable to override 
    <!style>
        .faction-background-color {
            background-color: {{ config.basic.color }} !important;
        }
    </!style>
    -->
</head>
<body class="dark:bg-zinc-800 dark:text-white">
    <!-- Header -->
    <header>
        <nav id="headBar" class="flex flex-row flex-wrap items-center justify-between h-14 bg-warden-700 mt-2 mx-2 rounded-t-md rounded-b-md bg-clip-padding shadow-md text-white">
            <!-- Logo, Title, Shard name + war # -->
            <div class="flex flex-row mt-1 pb-1 items-center">
                <a href="/" class="group flex flex-row mx-1 items-center appearance-none justify-center px-2 rounded-lg transition duration-300 active:scale-95 hover:bg-warden-600">
                    <img src="{{ config.images.logo }}" class="flex-none h-10 w-10 transition duration-300 group-hover:scale-125" alt="" />
                    <div class="ml-2 text-xl flex-none font-medium">{{ title }}</div>
                </a>
                <div class="px-4 select-none flex flex-row text-xl font-thin justify-self-end">
				    <span>{{ shard }}#{{ war }}</span>
			    </div>
                
            </div>
            <!-- Center score card-->
            <div class="lg:flex flex-row select-none absolute mx-auto left-0 right-0 w-fit h-10 hidden">
                <div class="bg-zinc-800 flex flex-row items-center rounded-l-xl h-10 pr-4 shadow-inner">
                    <img class="pl-3 h-10" src="/images/colonial.webp" alt="Colonial">
                    <div class="text-xl font-semibold pl-3">
                        <span id="colonial-score"></span>/<span class="total-score"></span>
                    </div>
                </div>
                <div class="bg-zinc-800 flex flex-row items-center rounded-r-xl h-10 pl-4 shadow-inner">
                    <div class="text-xl font-semibold pr-3">
                        <span id="warden-score"></span>/<span class="total-score"></span>
                    </div>
                    <img class="pr-3 h-10" src="/images/warden.webp" alt="Warden">
                </div>
            </div>
            <!-- Login (for large displays) and Links -->
            <div class="hidden md:flex flex-row justify-center items-center">
                <!-- Search -->
                <div class="inline-flex group">
                    <input type="search" id="search-dropdown" class="block pl-2 py-2 w-full rounded-l-lg text-sm origin-right transition bg-zinc-800 placeholder-gray-400 text-white scale-x-0 group-focus:scale-x-100 group-hover:scale-x-100 border-0 ring-0 focus:border-0 focus:ring-0" placeholder="#TODO..." tabindex="1">
                    <button href="###" class="group bg-transparent px-2 py-2 mx-2 rounded-r-lg rounded-l-lg group-focus:rounded-l-none group-focus:bg-warden-600 group-hover:rounded-l-none group-hover:bg-warden-600 active:scale-95 transition duration-200 text-lg font-light hidden md:inline">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transition duration-200 group-hover:scale-125">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </button>
                </div>
                <button href="###" class="group bg-transparent px-2 py-2 mx-2 rounded-lg hover:bg-warden-600 active:scale-95 transition duration-200 text-lg font-light hidden md:inline">
                    <!-- Layers -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transition duration-200 group-hover:scale-125">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
                      </svg>                      
                </button>
                <button href="###" class="group bg-transparent px-2 py-2 mx-2 rounded-lg hover:bg-warden-600 active:scale-95 transition duration-200 text-lg font-light hidden md:inline">
                    <!-- Don't forget to hit that bell icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 transition duration-200 group-hover:scale-125">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                </button>
                {% if user %}
                <!-- Profile dropdown menu button -->
                <button id="optionsMenuLink" data-dropdown-toggle="optionsMenu" data-dropdown-placement="bottom-start" data-dropdown-offset-distance="24" data-dropdown-delay="300" data-dropdown-trigger="hover" class="">
                    <img class="h-10 w-10 mx-2 rounded-md active:scale-95 hover:brightness-125 transition duration-200 hidden md:inline-block" src="/images/placeholder_profile.webp" alt="Profile">
                </button>
                <!-- Dropdown menu -->
                <div id="optionsMenu" class="peer z-10 hidden bg-zinc-800  divide-y divide-zinc-500 rounded-md shadow-lg" tabindex="-1">
                    <div class="px-4 select-none py-3">
                        <span id="discord-username" class="block text-lg pb-1 font-medium">{{ user }}</span>
                        <span class="block text-xs">
                            {% if acl === 'admin' %}
                            Admin
                            {% elseif acl === 'moderator' %}
                            Moderator
                            {% elseif acl === 'full' %}
                            Full icon access
                            {% elseif acl === 'icons' %}
                            Basic icon access
                            {% else %}
                            Read only
                            {% endif %}
                        </span>
                    </div>
                    <ul class="py-2">
                        {% if acl === 'admin' %}
                        <li>
                            <a href="/admin/config" class="group flex bg-transparent items-center justify-left py-1 pl-2 pr-8 hover:bg-warden-600 transition duration-200 text-lg font-light">
                                <div class="flex flex-row origin-left items-center group-active:scale-95 transition duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                                    </svg>
                                    <span class="pl-2">Admin</span>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                        {% if acl === 'admin' or acl === 'moderator' %}
                        <li>
                            <a href="" class="group flex bg-transparent items-center justify-left py-1 pl-2 pr-8 hover:bg-warden-600 transition duration-200 text-lg font-light">
                                <div class="flex flex-row origin-left items-center group-active:scale-95 transition duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 01-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 11-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 016.336-4.486l-3.276 3.276a3.004 3.004 0 002.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008z" />
                                    </svg>
                                    <span class="pl-2">Moderation</span>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="" class="group flex bg-transparent items-center justify-left py-1 pl-2 pr-8 hover:bg-warden-600 transition duration-200 text-lg font-light">
                                <div class="flex flex-row origin-left items-center group-active:scale-95 transition duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                                    </svg>
                                    <span class="pl-2">Help</span>
                                </div>
                            </a>
                        </li>
                        <!-- NOT A THING YET
                        <li>
                            <a href="" class="group flex bg-transparent items-center justify-left py-1 pl-2 pr-8 hover:bg-warden-600 transition duration-200 text-lg font-light">
                                <div class="flex flex-row origin-left items-center group-active:scale-95 transition duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0l2.77-.693a9 9 0 016.208.682l.108.054a9 9 0 006.086.71l3.114-.732a48.524 48.524 0 01-.005-10.499l-3.11.732a9 9 0 01-6.085-.711l-.108-.054a9 9 0 00-6.208-.682L3 4.5M3 15V4.5" />
                                    </svg>
                                    <span class="pl-2">Language<span>
                                </div>
                            </a>
                        </li>
                        -->
                    </ul>
                    <ul class="py-2">
                        <li>
                            <a href="/logout" class="group flex bg-transparent items-center justify-left py-1 pl-2 pr-8 hover:bg-warden-600 transition duration-200 text-lg font-light">
                                <div class="flex flex-row origin-left items-center group-active:scale-95 transition duration-200">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                                    </svg>
                                    <span class="pl-2">Logout</span>
                                </div>
                            </a>
                        </li>    
                    </ul>
                </div>
                {% else %}
                <button href="###" class="bg-warden-900  px-2 py-2 mx-2 rounded-lg hover:bg-warden-600 active:scale-95 transition duration-200 text-lg font-light hidden md:inline">
                    Help
                </button>
                <button href="#" class="bg-warden-900 px-4 py-2 mx-2 rounded-lg hover:bg-warden-600 active:scale-95 transition duration-200 text-lg font-light hidden md:inline">
                    Login
                </button>
                {% endif %}
                

        </nav>
        <div id="ol-zoom-control" class="flex flex-col m-2 w-fit border-warden-500">
            <button id="ol-zoom-in" class="px-1.5 ol-zoom-in bg-warden-700 active:bg-warden-900 rounded-t-md transition hover:scale-105 active:scale-95" type="button" title="Zoom in">+</button>
            <button id="ol-zoom-out" class="px-1.5 ol-zoom-out bg-warden-700 active:bg-warden-900 rounded-b-md transition hover:scale-105 active:scale-95" type="button" title="Zoom out">–</button>
            <button id="another-button" class="px-1.5 mt-2 bg-warden-700 active:bg-warden-900 rounded-md transition hover:scale-105 active:scale-95" type="button" title="Zoom in">?</button>
        </div>
	</header>
    
    

    <!--

        

        Map Navigation

        <li class="nav-item"><a class="nav-link {% if path == '/' %}active{% endif %}" href="/">Map</a></li>
        
        Help Navigation

        <li class="nav-item flex-grow-1"><a class="nav-link {% if path == '/help' %}active{% endif %}" href="/help">Help</a></li>
        
        Role based items to display

        {% if acl === 'admin' %}
            <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#flags">Flagged</a></li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</span>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item {% if path == '/admin/eventlog' %}active{% endif %}" href="/admin/eventlog">Eventlog</a></li>
                    <li><a class="dropdown-item {% if path == '/admin/config' %}active{% endif %}" href="/admin/config">Config</a></li>
                </ul>
            </li>
        {% elseif acl === 'moderator' %}
            <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" href="#flags">Flagged</a></li>
            <li class="nav-item"><a class="nav-link {% if path == '/admin/eventlog' %}active{% endif %}" href="/admin/eventlog">Admin</a></li>
        {% endif %}

        The menu dropdown for different shards

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item{% if config.basic.links|length > 0 %} dropdown{% endif %}">
                {% if config.basic.links|length > 0 %}
                    <span id="warNumber" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ shard }} #{{ war }}{% if warStatus === 'prepare' %} (Preparing){% elseif warStatus === 'resistance' %} (Resistance){% endif %}</span>
                    <ul class="dropdown-menu">
                        {% for item in config.basic.links %}
                        <li><a class="dropdown-item" href="{{ item.href }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span id="warNumber" class="nav-link{% if config.basic.links|length > 0 %} dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"{% else %}"{% endif %}>{{ shard }} #{{ war }}{% if warStatus === 'prepare' %} (Preparing){% elseif warStatus === 'resistance' %} (Resistance){% endif %}</span>
                {% endif %}
            </li>
        </ul>

        Dropdown menu on right side

        {% if user %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="discord-username" data-user-id="{{ userId }}">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                    <span class="dropdown-item-text">
                        {% if acl === 'full' %}
                            Full access
                        {% elseif acl === 'moderator' %}
                            Full access (Mod)
                        {% elseif acl === 'admin' %}
                            Admin
                        {% elseif acl === 'icons' %}
                            Icons edit only
                        {% else %}
                            Read only
                        {% endif %}
                    </span>
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    -->
    <main class="absolute top-0 left-0 h-full -z-10 w-full">
        {% block content %}{% endblock %}
    </main>
    <script src="/dist/main.js?{{ cacheBuster }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>