<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta name="author" content="attrib, Bazlow">
    {# Facebook/Discord Meta Tags #}
    <meta property="og:url" content="{{ config.basic.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.basic.title }}">
    <meta property="og:description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta property="og:image" content="{{ config.basic.url }}{{ config.images.opengraph }}">
    <meta property="og:image:alt" content="{{ config.basic.title }} Logo">
    {# Twitter Meta Tags #}
    <meta name="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ config.basic.url }}">
    <meta name="twitter:title" content="{{ config.basic.title }}">
    <meta name="twitter:description" content="Foxhole {{ shard }} {{ config.basic.title }}">
    <meta name="twitter:image" content="{{ config.basic.url }}{{ config.images.opengraph }}">
    <meta name="twitter:image:alt" content="{{ config.basic.title }} Logo">
    <meta name="theme-color" content="{{ config.basic.color }}">
    {% if config.images.favicon %}
    <link rel="icon" type="image/svg+xml" href="{{ config.images.favicon }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{config.images.faviconPng }}">
    <title>{{ title }}</title>
    {% if isDevMode %}
    <link rel="stylesheet" href="/frontend/style.css">
    {% else %}
    <link rel="stylesheet" href="/{{ manifest["frontend/main.css"].file }}">
    {% endif %}
    {% block css %}
    {% endblock %}
</head>
<body class="dark:text-white dark:bg-zinc-900 selection:bg-warden-700 overflow-hidden">
    <div id="react-root"></div>
    {% if isDevMode %}
    <script type="module">
        import RefreshRuntime from '/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="/@vite/client"></script>
    <script type="module" src="/frontend/main.tsx"></script>
    {% else %} 
    <script type="module" src="/{{ manifest["frontend/main.tsx"].file }}"></script>
    {% endif %}
</body>
</html>