<div x-data id="ol-zoom-control" class="absolute m-2 flex w-fit flex-col">
	<button
		id="ol-zoom-in"
		@click.prevent.throttle.300ms="$dispatch('mapZoom', { direction: 'in' })"
		class="select-none rounded-t-md bg-warden-700 px-1.5 transition hover:scale-105 active:scale-95 active:bg-warden-900"
		type="button"
		title="Zoom in"
		aria-label="Zoom in"
	>
		+
	</button>
	<button
		id="ol-zoom-out"
		@click.prevent.throttle.300ms="$dispatch('mapZoom', { direction: 'out' })"
		class="select-none rounded-b-md bg-warden-700 px-1.5 transition hover:scale-105 active:scale-95 active:bg-warden-900"
		type="button"
		title="Zoom out"
		aria-label="Zoom out"
	>
		–
	</button>
</div>
