<div
	id="{{name}}-view"
	class="absolute top-0 left-0 flex w-full max-w-sm flex-col overflow-y-visible rounded-lg bg-zinc-800 shadow-xl"
>
	<div
		id="{{name}}-view-handle"
		class="flex w-full flex-row items-start justify-between rounded-t-lg border-b border-zinc-700 bg-warden-700 p-4"
	>
		<div class="flex-flex-col">
			<h2 class="select-none text-2xl font-bold tracking-tight">{{title}}</h2>
			<span class="text-normal select-none tracking-tight">{{description}}</span>
		</div>
		<button
			type="button"
			@click="{{name}}Toggle()"
			class="justify-center rounded-lg border border-warden-700 p-2 font-bold transition duration-200 hover:scale-105 hover:border-white hover:bg-warden-600 active:scale-95"
		>
			{# Hero icons: x-mark #}
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="h-6 w-6"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
			</svg>
		</button>
	</div>
	<div id="{{name}}-tools" class="flex flex-col">{% block windowContent %}{% endblock %}</div>
</div>
