<div class="absolute left-0 right-0 flex-row hidden h-10 mx-auto select-none w-fit lg:flex">
	<div class="flex flex-row items-center h-10 pr-4 shadow-inner rounded-l-xl bg-zinc-800">
		<img
			class="pl-3 w-fit"
			height="40"
			width="38"
			src="/images/colonial.webp"
			alt="Colonial"
			loading="lazy"
		/>
		<div class="pl-3 text-xl font-semibold">
			<span id="colonial-score"></span>/<span class="total-score"></span>
		</div>
	</div>
	<div class="flex flex-row items-center h-10 pl-4 shadow-inner rounded-r-xl bg-zinc-800">
		<div class="pr-3 text-xl font-semibold">
			<span id="warden-score"></span>/<span class="total-score"></span>
		</div>
		<img
			class="pr-3 w-fit"
			height="40"
			width="38"
			src="/images/warden.webp"
			alt="Warden"
			loading="lazy"
		/>
	</div>
</div>
